.modal {
  $transition: opacity 0.3s ease-out;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: $white-color;
  background-color: rgba($black-color, 0.8);
  opacity: 0;
  transition: $transition;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: var(--window-height);
  }

  &__inner {
    position: relative;
    overflow: auto;
    margin: auto;
    border-radius: 12px;
    padding: 40px 30px;
    width: 100%;
    max-width: 800px;
    max-height: 100%;
    background-color: $primary-color;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: transparent;
    border: none;
    box-shadow: none;
    background: 0;
    cursor: pointer;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: block;
  }

  &.is-open {
    opacity: 1;
  }
}
