@mixin circle($size: 36px, $color: $accent-color) {
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $color;
}

@mixin triangle($size: 20px) {
  border-style: solid;
  border-width: 0 $size $size 0;
  border-color: transparent $primary-color transparent transparent;
  width: 0;
  height: 0;
}

@mixin decor-1() {
  content: "";
  position: absolute;
  width: 955px;
  height: 560px;
  background: url("../img/decor-1.svg") center no-repeat;
  filter: blur(100px);
  will-change: filter;
}

@mixin decor-2() {
  content: "";
  position: absolute;
  width: 954px;
  height: 362px;
  background: url("../img/decor-2.svg") center no-repeat;
  filter: blur(100px);
  will-change: filter;
}
