@mixin circle($size: 36px, $color: $accent-color) {
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $color;
}

@mixin triangle($size: 20px) {
  border-style: solid;
  border-width: 0 $size $size 0;
  border-color: transparent $primary-color transparent transparent;
  width: 0;
  height: 0;
}
