@mixin blockOuterContainer($box-width: 500px, $offset: 30px) {
  display: flex;
  padding-left: max(15px, calc((100% - $container-width) / 2)); // outer right

  > *:first-child {
    flex-shrink: 0;
    margin-right: $offset;
    width: $box-width;
  }

  > *:nth-child(2) {
    width: calc(100% - $box-width - $offset);
  }
}

@mixin footerToBottom {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

@mixin grid($columns: 3, $gap: 30px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin icon($size: 60px) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2e1c9b;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: rgba(46, 28, 155, 30%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #2e1c9b;
  }

  &::before {
    left: 6px;
    bottom: 7px;
  }

  &::after {
    right: 9px;
    top: 4px;
  }
}