<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <div class="hero__caption">
          <strong class="color-purple">Авторская программа</strong>
          Зарины Канескановой для действующего бизнеса
        </div>
        <h1 class="hero__title">Как перейти <br>
          от разовых продаж <br>
          <strong>к управляем<span class="hero__title-icon"></span>му
            бизнесу</strong>
        </h1>
        <h4 class="hero__subtitle">Ваш персональный
          <b>бизнес-акселератор</b>
        </h4>
        <div class="hero__footer">
          <button class="hero__btn btn" data-modal-open="modal-1">Записаться на курс</button>
          <div class="hero__timer timer" data-deadline="2023-06-25 23:59:59">
            <div class="timer__head">До повышения цен осталось:</div>
            <div class="timer__items">
              <div class="timer__item timer__item--hours" data-title="Часов">20</div>
              <div class="timer__item timer__item--minutes" data-title="Минут">15</div>
              <div class="timer__item timer__item--seconds" data-title="Секунд">8</div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__img">
        <picture>
          <source srcset="img/hero.webp 1x, img/hero@2x.webp 2x" type="image/webp">
          <img src="img/hero.jpg" srcset="img/hero.jpg 1x, img/hero@2x.jpg 2x" width="605" height="733"
            alt="Фото Зарины Канескановой">
        </picture>
      </div>
    </div>
  </div>
</section>
