<section class="mentor section-big" id="mentor">
  <div class="container">
    <div class="mentor__inner">
      <h3 class="mentor__title title">
        Повысьте эффективность своего бизнеса
        <span class="color-primary">в 2-3 раза</span> с бизнес-наставником</h3>
      <h4 class="mentor__subtitle">Зарина подскажет, как построить стабильную систему продаж <strong>и&nbsp;вывести бизнес на новый уровень</strong></h4>
      <ul class="mentor__items">
        <li class="mentor__item mentor__item--1">
          Будет непросто, <br>
          <b>но действенно</b>
          <div class="mentor__circle"></div>
        </li>
        <li class="mentor__item mentor__item--2">Непривычно,<br>
          <b>но прибыльно</b> 
          <div class="mentor__circle"></div>
        </li>
        <li class="mentor__item mentor__item--3">Не быстро, <br>
          <b>но результативно</b> 
          <div class="mentor__circle"></div>
        </li>
        <li class="mentor__item mentor__item--4">Некомфортно, <br>
          <b>но эффективно</b>
          <div class="mentor__circle"></div>
        </li>
      </ul>
      <button class="mentor__btn btn" data-modal-open="modal-1">Оформить наставничество</button>
    </div>
  </div>
</section>