<section class="problems section-big" id="problems">
  <div class="container">
    <div class="problems__inner">
      <h2 class="problems__title title">Вам знакомы
        <span class="color-primary">эти проблемы?</span>
      </h2>
      <ul class="problems__list">
        <li class="problems__item">
          <div class="problems__head">
            <div class="problems__name">Прибыль остановилась и&nbsp;не растёт</div>
            <div class="problems__icon">
              <img src="img/problems-1.svg" width="32" height="32" alt="иконка проблемы">
            </div>
          </div>
          <div class="problems__text">
            Делаете всё, что от вас зависит, но
            <strong>не можете «пробить потолок».</strong>
            Кажется, что заработать больше у вас не получится
          </div>
        </li>
        <li class="problems__item">
          <div class="problems__head">
            <div class="problems__name">Клиенты совершают разовые покупки</div>
            <div class="problems__icon">
              <img src="img/problems-2.svg" width="32" height="32" alt="иконка проблемы">
            </div>
          </div>
          <div class="problems__text">
            Ресурсы, что вы тратите для перевода клиента в&nbsp;разряд постоянных
            <strong>не оправдывают себя.</strong>
            Необходима оптимизация этой системы
          </div>
        </li>
        <li class="problems__item">
          <div class="problems__head">
            <div class="problems__name">Нет выстроенной системы продаж</div>
            <div class="problems__icon">
              <img src="img/problems-3.svg" width="32" height="32" alt="иконка проблемы">
            </div>
          </div>
          <div class="problems__text">
            Понимаете, что действующие алгоритмы можно&nbsp;улучшить.
            <strong>Упускаете важные нюансы,</strong>
            которые влияют на уровень продаж
          </div>
        </li>
        <li class="problems__item">
          <div class="problems__head">
            <div class="problems__name">Сотрудники работают вполсилы</div>
            <div class="problems__icon">
              <img src="img/problems-4.svg" width="32" height="32" alt="иконка проблемы">
            </div>
          </div>
          <div class="problems__text">
            Вы уверены, что
            <strong>команда не выкладывается</strong>
            и&nbsp;ей&nbsp;нужна мотивация для более эффективной&nbsp;работы
          </div>
        </li>
        <li class="problems__item">
          <div class="problems__head">
            <div class="problems__name">Применяемые стратегии больше не работают</div>
            <div class="problems__icon">
              <img src="img/problems-5.svg" width="32" height="32" alt="иконка проблемы">
            </div>
          </div>
          <div class="problems__text">
            Действуете как обычно, но&nbsp;не&nbsp;получаете того же результата. А в некоторых случаях результаты показывают
            <strong>отрицательную динамику</strong>
          </div>
        </li>
        <li class="problems__item">
          <div class="problems__head">
            <div class="problems__name">Ваших знаний и&nbsp;опыта уже недостаточно</div>
            <div class="problems__icon">
              <img src="img/problems-6.svg" width="32" height="32" alt="иконка проблемы">
            </div>
          </div>
          <div class="problems__text">
            Вы понимаете, что для масштабирования бизнеса и роста продаж
            <strong>нужен профессиональный взгляд</strong>
            со стороны. Но&nbsp;не&nbsp;знаете, кому можно доверять
          </div>
        </li>
      </ul>
      <div class="text-center">
        <button class="problems__btn btn" data-modal-open="modal-1">Узнать решение</button>
      </div>
    </div>
  </div>
</section>