<section class="program" id="program">
  <div class="container">
    <h3 class="program__title title">
      Программа <span class="color-primary">наставничества</span>
    </h3>
    <div class="program__inner">
      <ul class="program__tabs">
        <li
          class="program__tab program-tab is-active"
          data-tabs="1"
          role="button"
          tabindex="0"
        >
          <div class="program-tab__head">
            <div class="program-tab__title">Модуль 1</div>
            <div class="program-tab__icons">
              <div class="program-tab__icon program-tab__icon--date">4 Мая</div>
              <div class="program-tab__icon program-tab__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-tab__subject">
            Тема: Стратегия развития и&nbsp;позиционирования компании
          </div>
        </li>
        <li
          class="program__tab program-tab"
          data-tabs="2"
          role="button"
          tabindex="0"
        >
          <div class="program-tab__head">
            <div class="program-tab__title">Модуль 2</div>
            <div class="program-tab__icons">
              <div class="program-tab__icon program-tab__icon--date">4 Мая</div>
              <div class="program-tab__icon program-tab__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-tab__subject">Тема: Продукт</div>
        </li>
        <li
          class="program__tab program-tab"
          data-tabs="3"
          role="button"
          tabindex="0"
        >
          <div class="program-tab__head">
            <div class="program-tab__title">Модуль 2</div>
            <div class="program-tab__icons">
              <div class="program-tab__icon program-tab__icon--date">4 Мая</div>
              <div class="program-tab__icon program-tab__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-tab__subject">Тема: Продукт</div>
        </li>
        <li
          class="program__tab program-tab"
          data-tabs="4"
          role="button"
          tabindex="0"
        >
          <div class="program-tab__head">
            <div class="program-tab__title">Модуль 2</div>
            <div class="program-tab__icons">
              <div class="program-tab__icon program-tab__icon--date">4 Мая</div>
              <div class="program-tab__icon program-tab__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-tab__subject">Тема: Продукт</div>
        </li>
        <li
          class="program__tab program-tab"
          data-tabs="5"
          role="button"
          tabindex="0"
        >
          <div class="program-tab__head">
            <div class="program-tab__title">Модуль 2</div>
            <div class="program-tab__icons">
              <div class="program-tab__icon program-tab__icon--date">4 Мая</div>
              <div class="program-tab__icon program-tab__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-tab__subject">Тема: Продукт</div>
        </li>
      </ul>
      <div class="program__body">
        <div class="program-content is-active" data-tabs="1">
          <div class="program-content__head">
            <div class="program-content__title">Стратегия развития и&nbsp;позиционирования компании</div>
            <div class="program-content__icons">
              <div class="program-content__icon program-content__icon--date">
                4 Мая
              </div>
              <div class="program-content__icon program-content__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-content__main">
            <div class="program-content__row">
              <ul class="program-content__col">
                <li class="program-content__item">
                  Формируем <strong>миссию,видение и&nbsp;ценности</strong> вашей
                  компании
                </li>
                <li class="program-content__item">
                  Оценка <strong>внешней и внутренней среды</strong>
                  компании
                </li>
                <li class="program-content__item">
                  SWOT анализ <strong>анализ</strong>
                </li>
              </ul>
              <ul class="program-content__col">
                <li class="program-content__item">
                  Выполнение домашнего задания и <strong>внедрение</strong>
                </li>
                <li class="program-content__item">
                  Оценка <strong>рисков</strong>
                  и&nbsp;управление ими
                </li>
              </ul>
            </div>
            <div class="program-content__box">
              <div class="program-content__box-title">В результате</div>
              <p>
                В результате этого блока вы выберете стратегию развития на рынке
                с учетом факторов среды, активов компании и сильных и слабых
                сторон собственника. Определитесь, на каком рынке вы работаете и
                какова ваша потенциальная доля рынка. Поймете, какие существуют
                риски у выбранной вами стратегии, научитесь ими управлять.
                Составите основу для продвижения и продаж в вашей компании
              </p>
            </div>
            <button class="program-content__btn btn" data-modal-open="modal-1">Принять участие</button>
          </div>
        </div>
        <div class="program-content" data-tabs="2">
          <div class="program-content__head">
            <div class="program-content__title">Стратегия развития и&nbsp;позиционирования компании 2</div>
            <div class="program-content__icons">
              <div class="program-content__icon program-content__icon--date">
                4 Мая
              </div>
              <div class="program-content__icon program-content__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-content__main">
            <div class="program-content__row">
              <ul class="program-content__col">
                <li class="program-content__item">
                  Формируем <strong>миссию,видение и&nbsp;ценности</strong> вашей
                  компании
                </li>
                <li class="program-content__item">
                  Оценка <strong>внешней и внутренней среды</strong>
                  компании
                </li>
                <li class="program-content__item">
                  SWOT анализ <strong>анализ</strong>
                </li>
              </ul>
              <ul class="program-content__col">
                <li class="program-content__item">
                  Выполнение домашнего задания и <strong>внедрение</strong>
                </li>
                <li class="program-content__item">
                  Оценка <strong>рисков</strong>
                  и&nbsp;управление ими
                </li>
              </ul>
            </div>
            <div class="program-content__box">
              <div class="program-content__box-title">В результате</div>
              <p>
                В результате этого блока вы выберете стратегию развития на рынке
                с учетом факторов среды, активов компании и сильных и слабых
                сторон собственника. Определитесь, на каком рынке вы работаете и
                какова ваша потенциальная доля рынка. Поймете, какие существуют
                риски у выбранной вами стратегии, научитесь ими управлять.
                Составите основу для продвижения и продаж в вашей компании
              </p>
            </div>
            <button class="program-content__btn btn" data-modal-open="modal-1">Принять участие</button>
          </div>
        </div>
        <div class="program-content" data-tabs="3">
          <div class="program-content__head">
            <div class="program-content__title">Стратегия развития и&nbsp;позиционирования компании 3</div>
            <div class="program-content__icons">
              <div class="program-content__icon program-content__icon--date">
                4 Мая
              </div>
              <div class="program-content__icon program-content__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-content__main">
            <div class="program-content__row">
              <ul class="program-content__col">
                <li class="program-content__item">
                  Формируем <strong>миссию,видение и&nbsp;ценности</strong> вашей
                  компании
                </li>
                <li class="program-content__item">
                  Оценка <strong>внешней и внутренней среды</strong>
                  компании
                </li>
                <li class="program-content__item">
                  SWOT анализ <strong>анализ</strong>
                </li>
              </ul>
              <ul class="program-content__col">
                <li class="program-content__item">
                  Выполнение домашнего задания и <strong>внедрение</strong>
                </li>
                <li class="program-content__item">
                  Оценка <strong>рисков</strong>
                  и&nbsp;управление ими
                </li>
              </ul>
            </div>
            <div class="program-content__box">
              <div class="program-content__box-title">В результате</div>
              <p>
                В результате этого блока вы выберете стратегию развития на рынке
                с учетом факторов среды, активов компании и сильных и слабых
                сторон собственника. Определитесь, на каком рынке вы работаете и
                какова ваша потенциальная доля рынка. Поймете, какие существуют
                риски у выбранной вами стратегии, научитесь ими управлять.
                Составите основу для продвижения и продаж в вашей компании
              </p>
            </div>
            <button class="program-content__btn btn" data-modal-open="modal-1">Принять участие</button>
          </div>
        </div>
        <div class="program-content" data-tabs="4">
          <div class="program-content__head">
            <div class="program-content__title">Стратегия развития и&nbsp;позиционирования компании 4</div>
            <div class="program-content__icons">
              <div class="program-content__icon program-content__icon--date">
                4 Мая
              </div>
              <div class="program-content__icon program-content__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-content__main">
            <div class="program-content__row">
              <ul class="program-content__col">
                <li class="program-content__item">
                  Формируем <strong>миссию,видение и&nbsp;ценности</strong> вашей
                  компании
                </li>
                <li class="program-content__item">
                  Оценка <strong>внешней и внутренней среды</strong>
                  компании
                </li>
                <li class="program-content__item">
                  SWOT анализ <strong>анализ</strong>
                </li>
              </ul>
              <ul class="program-content__col">
                <li class="program-content__item">
                  Выполнение домашнего задания и <strong>внедрение</strong>
                </li>
                <li class="program-content__item">
                  Оценка <strong>рисков</strong>
                  и&nbsp;управление ими
                </li>
              </ul>
            </div>
            <div class="program-content__box">
              <div class="program-content__box-title">В результате</div>
              <p>
                В результате этого блока вы выберете стратегию развития на рынке
                с учетом факторов среды, активов компании и сильных и слабых
                сторон собственника. Определитесь, на каком рынке вы работаете и
                какова ваша потенциальная доля рынка. Поймете, какие существуют
                риски у выбранной вами стратегии, научитесь ими управлять.
                Составите основу для продвижения и продаж в вашей компании
              </p>
            </div>
            <button class="program-content__btn btn" data-modal-open="modal-1">Принять участие</button>
          </div>
        </div>
        <div class="program-content" data-tabs="5">
          <div class="program-content__head">
            <div class="program-content__title">Стратегия развития и&nbsp;позиционирования компании 5</div>
            <div class="program-content__icons">
              <div class="program-content__icon program-content__icon--date">
                4 Мая
              </div>
              <div class="program-content__icon program-content__icon--clock">
                11:00 по Астане
              </div>
            </div>
          </div>
          <div class="program-content__main">
            <div class="program-content__row">
              <ul class="program-content__col">
                <li class="program-content__item">
                  Формируем <strong>миссию,видение и&nbsp;ценности</strong> вашей
                  компании
                </li>
                <li class="program-content__item">
                  Оценка <strong>внешней и внутренней среды</strong>
                  компании
                </li>
                <li class="program-content__item">
                  SWOT анализ <strong>анализ</strong>
                </li>
              </ul>
              <ul class="program-content__col">
                <li class="program-content__item">
                  Выполнение домашнего задания и <strong>внедрение</strong>
                </li>
                <li class="program-content__item">
                  Оценка <strong>рисков</strong>
                  и&nbsp;управление ими
                </li>
              </ul>
            </div>
            <div class="program-content__box">
              <div class="program-content__box-title">В результате</div>
              <p>
                В результате этого блока вы выберете стратегию развития на рынке
                с учетом факторов среды, активов компании и сильных и слабых
                сторон собственника. Определитесь, на каком рынке вы работаете и
                какова ваша потенциальная доля рынка. Поймете, какие существуют
                риски у выбранной вами стратегии, научитесь ими управлять.
                Составите основу для продвижения и продаж в вашей компании
              </p>
            </div>
            <button class="program-content__btn btn" data-modal-open="modal-1">Принять участие</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
