<section class="study" id="study">
  <div class="container">
    <div class="study__inner">
      <h3 class="study__title title">Чему
        <span class="color-primary">вы научитесь</span>
        на курсе</h3>
      <ol class="study__list">
        <li class="study__item">
          <div class="study__num"></div>
          <div class="study__name">Узнаете, как построить высокоэффективный отдел продаж</div>
          <div class="study__text">Вы получите простые и
            <strong>проверенные алгоритмы</strong>, которые повышают продажи на 60% и более</div>
        </li>
        <li class="study__item">
          <div class="study__num"></div>
          <div class="study__name">Научитесь нанимать «правильных» сотрудников</div>
          <div class="study__text">Вам больше не составит труда
            <strong>подобрать менеджера или РОПа
            </strong>
            под запросы компании</div>
        </li>
        <li class="study__item">
          <div class="study__num"></div>
          <div class="study__name">Легко переведёте клиентов в разряд постоянных</div>
          <div class="study__text">Чёткие стратегии по работе с клиентами
            <strong>повысят чек и увеличат количество</strong>
            постоянных клиентов</div>
        </li>
        <li class="study__item">
          <div class="study__num"></div>
          <div class="study__name">Наладите системы отдела продаж компании</div>
          <div class="study__text">Внедрение идентификаторов, должностных инструкций, аналитики
            <strong>повысят работу отдела продаж</strong>
          </div>
        </li>
      </ol>
      <div class="study__footer progress-bar">
        <div class="progress-bar__row">
          <div class="progress-bar__col">
            <div class="progress-bar__num progress-bar__num--circle">60%</div>
            <div class="progress-bar__caption">Теории на курсе</div>
          </div>
          <div class="progress-bar__col">
            <div class="progress-bar__num">+</div>
          </div>
          <div class="progress-bar__col">
            <div class="progress-bar__num progress-bar__num--circle progress-bar__num--sandy">40%</div>
            <div class="progress-bar__caption">Практических заданий</div>
          </div>
          <div class="progress-bar__col">
            <div class="progress-bar__num">=</div>
          </div>
          <div class="progress-bar__col">
            <div class="progress-bar__num">100%</div>
            <div class="progress-bar__caption">Результат</div>
          </div>
        </div>
        <div class="progress-bar__line">
          <div class="progress-bar__fill"></div>
        </div>
      </div>
    </div>
  </div>
</section>