<section class="who section-offset" id="who">
  <div class="container">
    <div class="who__inner">
    <h2 class="who__title title">Курс <span class="color-primary">подойдет</span></h2>
      <ul class="who__list">
        <li class="who__item">
          <div class="who__name">Стартаперы</div>
          <div class="who__text">
            Хотят построить <strong>стабильный, высокодоходный бизнес</strong> и&nbsp;создать эффективную <br> команду
          </div>
        </li>
        <li class="who__item">
          <div class="who__name">Малый бизнес</div>
          <div class="who__text">
            Понимают общие принципы ведения бизнеса, но не знают или не понимают, как <strong>правильно масштабироваться</strong>, наращивать объемы продаж.
          </div>
        </li>
        <li class="who__item">
          <div class="who__name">Средний или <div>крупный бизнес</div></div>
          <div class="who__text">
            Те, кто ищут более действенные решения и алгоритмы увеличения прибыли, командной работы, слаженности, стратегий для <strong>выхода на новый уровень.</strong>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>