<div class="modal modal-main" id="modal-1" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum corrupti, officia omnis vitae quae quidem nostrum aliquid voluptas consectetur laudantium, qui excepturi recusandae dolorem doloribus aperiam ratione eius numquam debitis.
      </div>
      <button class="modal__close" data-modal-close>
        <img src="img/close-icon.svg" width="15" height="15" alt="Close icon">
      </button>
    </div>
  </div>
</div>
