{% extends "../templates/layout.njk" %}

{% block content %}
{% include "../templates/sections/hero.njk" %}
{% include "../templates/sections/who.njk" %}
{% include "../templates/sections/problems.njk" %}
{% include "../templates/sections/about.njk" %}
{% include "../templates/sections/mentor.njk" %}
{% include "../templates/sections/study.njk" %}
{% include "../templates/sections/program.njk" %}
{% endblock content %}
