html {
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  outline: transparent;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.4;
  color: $white-color;
  background-color: $black-color;
}

img,
video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
}

b,
strong {
  font-weight: 700;
}

section {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}
